{% extends 'portfolio/base.html' %}

{% block title %} Edit Blog Post   {% endblock %}

{% block  metaContent %}    {% endblock %}

{% block cssStyle %}  

textarea.form-control {
  height: 20rem !important;
}

{% endblock %}

{% block content %}


<div class="container" style="direction:rtl !important; text-align: justify !important;">
    <h1 style="font-family: 'Sahel', 'Caveat Brush', cursive;" class="text-center text-white mt-4 mb-4">  
        ویرایش مقاله بلاگ
    </h1>
    
    {% if user.is_authenticated and user.username == postfa.author.username %}
    
    <div class="form-group" style="direction:rtl !important; text-align: justify !important;">
        <form method='POST'>
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            
            <button class="btn btn-secondary"> ویرایش مقاله </button>
        </form>
    </div>
    
    {% else %}
    
        <h1 class="text-white mt-4 mb-4 text-center" style="font-family: 'Sahel', 'Caveat Brush', cursive;" > 
            شما مجاز به ویرایش این مقاله نیستید!
        </h1>
    
    {% endif %}
    
</div>


{% endblock %}



