{% extends "portfolio/base-en2.html" %}

{% block cssStyle %}  
.lighttag {
  color: #e8f9fd !important;
}
{% endblock %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">   
                <h5>Prediction Input:</h5>
                <div style="color:black;">Weight: <span id="we" style="color:black;"></span></div>
                <div style="color:black;">Length1: <span id="le1" style="color:black;"></span></div>
                <div style="color:black;">Length2: <span id="le2" style="color:black;"></span></div>
                <div style="color:black;">Length3: <span id="le3" style="color:black;"></span></div>
                <div style="color:black;">Height: <span id="he" style="color:black;"></span></div>
                <div style="color:black;">Width: <span id="wi" style="color:black;"></span></div>
                <h5 class="pt-3">Prediction Classification:</h5>
                <div id="prediction" style="color:black;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="{% url 'ml:classificationresultdt' %}" role="button">View Previous Results</a>
            </div>
        </div>
    </div>
</div>

<!--<h1 ></h1>-->

<div class="container pt-3">
    <div class="row justify-content-md-center">
        <div class="col-md-12 ustify-content-md-center text-center">
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2 ">
                <a href="{% url 'ml:classificationresultdt' %}" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                    Results</a>
            </span> 
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2">
                <a href="https://github.com/mohammadijoo/Datasets/blob/main/fish.py" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                    Source Code</a>
            </span>
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2">
                <a href="https://github.com/mohammadijoo/Datasets/blob/main/fish.csv" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                    Dataset</a>
            </span> <br>
            
        </div>
        
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
            <h1 style="font-family: 'Caveat Brush', cursive; color:#A28089; font-size:3rem" class="text-center mt-4 mb-1">
                Fish Classification
            </h1>
            <h1 style="font-family: 'Caveat Brush', cursive; color:#A28089; font-size:2rem" class="text-center mb-4">
                Using <u>Decision Tree</u> Classification Model
            </h1>
            <h6 style="color: #00ABE4; font-size:0.8rem;" class="text-center mb-2">
                After submitting the form, wait at least <u>10 seconds</u>  for the model to calculate and show the result. <br> Also, all entered float numbers must have at most 2 decimal points, like: 1.23
            </h6>
            <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group">  
                    <label for="Weight">Weight  <small class="pl-4" style="color:#BFA181;">(Between 5 and 1650 gram)</small></label>
                    <input type="number" step="0.01" class="form-control" id="Weight" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Length1">Length1: Vertical Length <small class="pl-4" style="color:#BFA181;">(Between 7.5 and 59 cm)</small></label>
                    <input type="number" step="0.01" class="form-control" id="Length1" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Length2">Length2: Diagonal Length <small class="pl-4" style="color:#BFA181;">(Between 8.4 and 63.4 cm)</small></label>
                    <input type="number" step="0.01" class="form-control" id="Length2" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Length3">Length3: Cross Length  <small class="pl-4" style="color:#BFA181;">(Between 8.8 and 68 cm)</small></label>
                    <input type="number" step="0.01" class="form-control" id="Length3" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Height">Height <small class="pl-4" style="color:#BFA181;">(Between 1.72 and 18.95 cm)</small></label>
                    <input type="number" step="0.01" class="form-control" id="Height" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Width">Width: Diagonal Width <small class="pl-4" style="color:#BFA181;">(Between 1.04 and 8.14 cm)</small></label>
                    <input type="number" step="0.01" class="form-control" id="Width" placeholder="" required>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
        </div>
        <div class="col-md-2"></div>
        
        
        <div class="col-md-12 mt-5">
            
            <h1 style="font-family: 'Caveat Brush', cursive; color:#99775C; font-size:2.5rem" class="text-justify mt-4 mb-1">
                Model Description:
            </h1>
            
            <p style="font-size:1.3rem" class="text-justify">
                
                Classification is a supervised machine learning method where the model tries to predict the correct label of a given input data. One of the algorithms used for classification is the <a href="https://en.wikipedia.org/wiki/Decision_tree_learning" target="_blank">“Decision Tree Classifier”</a>. <br>
                Here, we use the <b style="color:#6E6E6E"><u>fish.csv</u></b> dataset for classification purposes and you can download the dataset from the link on top of this page. <br>
                This dataset has 6 features:  <br>
                “<i style="color:#6ACFC7">Weight</i>”, “<i style="color:#6ACFC7">Length1: Vertical Length</i>”, “<i style="color:#6ACFC7">Length2: Diagonal Length</i>”, “<i style="color:#6ACFC7">Length3: Cross Length</i>”, “<i style="color:#6ACFC7">Height</i>” and “<i style="color:#6ACFC7">Width: Diagonal Width</i>” <br>
                And the label for each item in the dataset is the type of Fish, which has 7 values: <br>
                “<i style="color:#6ACFC7">Bream</i>”, “<i style="color:#6ACFC7">Roach</i>”, “<i style="color:#6ACFC7">Whitefish</i>”, “<i style="color:#6ACFC7">Parkki</i>”, “<i style="color:#6ACFC7">Perch</i>”, “<i style="color:#6ACFC7">Pike</i>” and “<i style="color:#6ACFC7">Smelt</i>”. <br>
                In the above form, you enter the values of 6 features and the model returns the type of Fish in a pop-up form. Notice that the values and ranges of each feature are as below:  <br>
             
                <span class="badge m-2 p-2" style="background-color: #213F99"> 5 < Weight (gram) < 1650  </span> <br>                                 
                <span class="badge m-2 p-2" style="background-color: #213F99"> 7.5 < Length1: Vertical Length (cm) < 59 </span> <br>
                <span class="badge m-2 p-2" style="background-color: #213F99"> 8.4 < Length2: Diagonal Length (cm) < 63.4  </span> <br>
                <span class="badge m-2 p-2" style="background-color: #213F99"> 8.8 < Length3: Cross Length (cm) < 68 </span> <br>
                <span class="badge m-2 p-2" style="background-color: #213F99"> 1.72 < Height (cm) < 18.95 </span> <br>
                <span class="badge m-2 p-2" style="background-color: #213F99"> 1.04 < Width: Diagonal Width (cm) < 8.14 </span> <br>
                
                The sample code used to train a “Decision Tree” classification model, is provided in the link on top of this page. Each time you run this form and classification predictions happen, the values will store in the database, and with the link “result” on top of this page, you will see the previous results of the model prediction. Your recent run will be added to the end of this list.     
            
            </p>
            
        </div>
        
        
        
        
        
    </div>
</div>

<script>
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "ml:submit_classification_dt" %}', 
            data:{
                Weight:$('#Weight').val(),
                Length1:$('#Length1').val(),
                Length2:$('#Length2').val(),
                Length3:$('#Length3').val(),
                Height:$('#Height').val(),
                Width:$('#Width').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json) {
                document.forms["post-form"].reset();
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("we").innerHTML = json['Weight']
                document.getElementById("le1").innerHTML = json['Length1']
                document.getElementById("le2").innerHTML = json['Length2']
                document.getElementById("le3").innerHTML = json['Length3']
                document.getElementById("he").innerHTML = json['Height']
                document.getElementById("wi").innerHTML = json['Width']
            },
            error : function(xhr,errmsg,err) {

            }
        });
    })
</script>

{% endblock %}

