{% extends "portfolio/base-2.html" %}

{% block cssStyle %}  
.lighttag {
  color: #e8f9fd !important;
}
{% endblock %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="direction:rtl !important; float:right; font-family: 'Sahel';">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="direction:rtl !important; float:right">
                <h5 class="modal-title" id="exampleModalLabel" style="color:black; direction:rtl !important; float:right !important; font-family: 'Sahel'; text-align:justify;">  نتایج پیش بینی:  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="direction:rtl !important; float:right; text-align:justify;">
                <h5 style="color:black; direction:rtl !important; float:right !important; font-family: 'Sahel'; text-align:justify;">  ورودی های طبقه بندی:  </h5><br><br>
                <div style="color:black; direction:rtl !important; float:right !important; text-align:justify;">  بارداری: <span id="Pr" style="color:black;"></span></div> <br>
                <div style="color:black; direction:rtl !important; float:right !important; text-align:justify;"> گلوکز:  <span id="Gl" style="color:black;"></span></div> <br>
                <div style="color:black; direction:rtl !important; float:right !important; text-align:justify;"> فشار خون: <span id="Bl" style="color:black;"></span></div> <br>
                <div style="color:black; direction:rtl !important; float:right !important; text-align:justify;"> ضخامت پوست:  <span id="Sk" style="color:black;"></span></div> <br>
                <div style="color:black; direction:rtl !important; float:right !important; text-align:justify;">انسولین: <span id="In" style="color:black;"></span></div> <br>
                <div style="color:black; direction:rtl !important; float:right !important; text-align:justify;">BMI: <span id="BM" style="color:black;"></span></div> <br>
                <div style="color:black; direction:rtl !important; float:right !important; text-align:justify;">  تابع سوابق دیابتی: <span id="Di" style="color:black;"></span></div> <br>
                <div style="color:black; direction:rtl !important; float:right !important; text-align:justify;">سن: <span id="Ag" style="color:black;"></span></div> <br>
                <h5 class="pt-3">  نتیجه پیش بینی بیماری دیابت:  </h5> <br>
                <div id="prediction" style="color:black;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <a class="btn btn-primary" href="{% url 'ml:classificationresultlogisticfa' %}" role="button">مشاهده نتایج قبلی</a>
            </div>
        </div>
    </div>
</div>

<!--<h1 ></h1>-->

<div class="container pt-3" style="direction:rtl !important; font-family: 'Sahel', 'BTraffic' !important;">
    <div class="row justify-content-md-center">
        <div class="col-md-12 ustify-content-md-center text-center">
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2 ">
                <a href="{% url 'ml:classificationresultlogisticfa' %}" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                    نتایج </a>
            </span> 
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2">
                <a href="https://github.com/mohammadijoo/Datasets/blob/main/diabetes.py" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                    کد نمونه  </a>
            </span>
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2">
                <a href="https://github.com/mohammadijoo/Datasets/blob/main/diabetes.csv" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                     دیتاست </a>
            </span> <br>
            
        </div>
        
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
            <h1 style="font-family: 'Sahel', 'Caveat Brush', cursive; color:#A28089; font-size:3rem" class="text-center mt-4 mb-1">
                طبقه بندی ابتلا به بیماری دیابت
            </h1>
            <h1 style="font-family: 'Sahel', 'Caveat Brush', cursive; color:#A28089; font-size:2rem" class="text-center mb-4">
                با استفاده از مدل <u>Logistic Regression</u> 
            </h1>
            <h6 style="color: #00ABE4; font-size:0.8rem;" class="text-center mb-2">
                پس از تکمیل و ارسال فرم، حداقل 10 ثانیه صبر کنید تا مدل نتایج را محاسبه نموده و نمایش دهد. <br> همچنین، تمام اعداد اعشاری وارد شده باید حداکثر 2 رقم اعشار داشته باشند، مانند: 1.23
            </h6>
            <form action="" id="post-form" style="direction:rtl !important; font-family: 'Sahel', 'BTraffic' !important;">
                {% csrf_token %}    
                <div class="form-group">
                    <label for="Pregnancies" style="direction:rtl !important; text-align:justify; float:right"> بارداری <small class="pr-4" style="color:#BFA181;">   (بین 0 و 17)    </small> </label>
                    <input type="number" step="0.01" class="form-control" id="Pregnancies" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Glucose" style="direction:rtl !important; text-align:justify; float:right"> گلوکز <small class="pr-4" style="color:#BFA181;">  (بین 0 و 199)    </small> </label> 
                    <input type="number" step="0.01" class="form-control" id="Glucose" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="BloodPressure" style="direction:rtl !important; text-align:justify; float:right"> فشار خون <small class="pr-4" style="color:#BFA181;">     (بین 0 و 122)   </small> </label>  
                    <input type="number" step="0.01" class="form-control" id="BloodPressure" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="SkinThickness" style="direction:rtl !important; text-align:justify; float:right"> ضخامت پوست <small class="pr-4" style="color:#BFA181;">    (بین 0 و 99)    </small> </label> 
                    <input type="number" step="0.01" class="form-control" id="SkinThickness" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Insulin" style="direction:rtl !important; text-align:justify; float:right">انسولین <small class="pr-4" style="color:#BFA181;">  (بین 0 و 846)   </small> </label>  
                    <input type="number" step="0.01" class="form-control" id="Insulin" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="BMI" style="direction:rtl !important; text-align:justify; float:right">BMI <small class="pr-4" style="color:#BFA181;">   (بین 0 و 68)    </small> </label>  
                    <input type="number" step="0.01" class="form-control" id="BMI" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="DiabetesPedigreeFunction" style="direction:rtl !important; text-align:justify; float:right"> تابع سوابق دیابتی <small class="pr-4" style="color:#BFA181;">     (بین 0.07 و 2.42)  </small> </label>  
                    <input type="number" step="0.01" class="form-control" id="DiabetesPedigreeFunction" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Age" style="direction:rtl !important; text-align:justify; float:right">سن <small class="pr-4" style="color:#BFA181;">   (بین 21 و 81)   </small> </label>   
                    <input type="number" step="0.01" class="form-control" id="Age" placeholder="" required>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">ارسال</button>
            </form>
        </div>
        <div class="col-md-2"></div>
        
        
        <div class="col-md-12 mt-5">
            
            <h1 style="font-family: 'Sahel', 'Caveat Brush', cursive; color:#99775C; font-size:2.5rem" class="text-justify mt-4 mb-1">
                توضیحات مدل:
            </h1>
            
            <p style="font-size:1.3rem" class="text-justify">
                
                طبقه بندی یک روش یادگیری ماشینی نظارت شده است که در آن مدل سعی می کند برچسب صحیح یک داده ورودی داده شده را پیش بینی کند. یکی از الگوریتم های مورد استفاده برای طبقه بندی  <a href="https://en.wikipedia.org/wiki/Logistic_regression" target="_blank">“Logistic Regression”</a> می باشد. <br>
                
                
                
                در اینجا، ما از دیتاست <b style="color:#6E6E6E"><u>diabetes.csv</u></b> برای اهداف طبقه بندی استفاده می کنیم و می توانید این دیتاست را از لینک بالای این صفحه دانلود کنید. این دیتاست دارای 8 متغیر ویژگی است:  <br>
                
                
                “<i style="color:#6ACFC7">Pregnancies</i>”, “<i style="color:#6ACFC7">Glucose</i>”, “<i style="color:#6ACFC7">Blood Pressure</i>”, “<i style="color:#6ACFC7">Skin Thickness</i>”, “<i style="color:#6ACFC7">Insulin</i>”, “<i style="color:#6ACFC7">BMI</i>”, “<i style="color:#6ACFC7">Diabetes Pedigree Function</i>”, “<i style="color:#6ACFC7">Age</i>” <br>
                
                و متغیر طبقه بندی برای هر مورد در دیتاست تشخیص این است که آیا شما دیابت دارید یا نه، که دارای 2 مقدار است: <br>
                
                “<i style="color:#6ACFC7">دیابتی</i>” و “<i style="color:#6ACFC7">غیر دیابتی</i>”. <br>
                
                
                در فرم بالا مقادیر 8 متغیر ویژگی را وارد می کنید و مدل در یک فرم پاپ آپ مشخص می کند که آیا دیابتیک هستید یا خیر. <br>
                
                
                توجه داشته باشید که محدوده هر متغیر ویژگی به شرح زیر است: <br>
                
                
                <span class="badge m-2 p-2" style="background-color: #213F99">  بارداری (بین 0 و 17)   </span>    <br>                              
                <span class="badge m-2 p-2" style="background-color: #213F99">  گلوکز (بین 0 و 199)  </span> <br>
                <span class="badge m-2 p-2" style="background-color: #213F99">  فشار خون (بین 0 و 122)    </span> <br>
                <span class="badge m-2 p-2" style="background-color: #213F99">  ضخامت پوست (بین 0 و 99)   </span> <br> 
                <span class="badge m-2 p-2" style="background-color: #213F99"> انسولین (بین 0 و 846)   </span>    <br>                              
                <span class="badge m-2 p-2" style="background-color: #213F99"> BMI (بین 0 و 68)    </span> <br>
                <span class="badge m-2 p-2" style="background-color: #213F99">  تابع سوابق دیابتی (بین 0.07 و 2.42)  </span> <br>
                <span class="badge m-2 p-2" style="background-color: #213F99"> سن (بین 21 و 81)   </span> <br>
                                          
                کد نمونه مورد استفاده برای آموزش مدل طبقه بندی «Logistic Regression» در لینک بالای همین صفحه ارائه شده است. هر بار که این فرم را اجرا می کنید و پیش بینی های طبقه بندی اتفاق می افتد، مقادیر در پایگاه داده ذخیره می شوند و با لینک "نتایج" در بالای این صفحه، نتایج قبلی پیش بینی مدل را مشاهده خواهید کرد. اجرای اخیر شما به انتهای این لیست اضافه خواهد شد.

            </p>
            
        </div>
        
        
        
        
        
    </div>
</div>

<script>
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "ml:submit_classification_logistic" %}',
            data:{
                Pregnancies:$('#Pregnancies').val(),
                Glucose:$('#Glucose').val(),
                BloodPressure:$('#BloodPressure').val(),
                SkinThickness:$('#SkinThickness').val(),
                Insulin:$('#Insulin').val(),
                BMI:$('#BMI').val(),
                DiabetesPedigreeFunction:$('#DiabetesPedigreeFunction').val(),
                Age:$('#Age').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json) {
                document.forms["post-form"].reset();
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("Pr").innerHTML = json['Pregnancies']
                document.getElementById("Gl").innerHTML = json['Glucose']
                document.getElementById("Bl").innerHTML = json['BloodPressure']
                document.getElementById("Sk").innerHTML = json['SkinThickness']
                document.getElementById("In").innerHTML = json['Insulin']
                document.getElementById("BM").innerHTML = json['BMI']
                document.getElementById("Di").innerHTML = json['DiabetesPedigreeFunction']
                document.getElementById("Ag").innerHTML = json['Age']
            },
            error : function(xhr,errmsg,err) {
                // alert(err);
                // alert(errmsg);
                // alert(xhr);
            }
        });
    })
</script>

{% endblock %}

