{% extends "portfolio/base-2.html" %}

{% block content %}
    <div class="container pt-5" style="overflow-x: scroll !important; ">
        <div class="row" style="direction:rtl !important; font-family: 'Sahel';">
        
        <h1 style="direction:rtl !important;  font-family: 'Sahel', 'Caveat Brush', cursive; color:#A28089; font-size:3rem" class=" mt-1 mb-3">
            نتایج پیش بینی ها
        </h1>

            <table class="table text-white" style="font-family: 'Sahel';">
                <thead class="text-center" style="direction:rtl !important;  font-family: 'Sahel';">
                <tr> 
                <th scope="col">#</th>
                <th scope="col">دما </th>
                <th scope="col"> درخشندگی نسبی </th>
                <th scope="col"> شعاع نسبی </th>
                <th scope="col"> بزرگی مطلق </th>
                <th scope="col"> رنگ های عمومی در OBS </th>
                <th scope="col">مشخصات طیفی</th>
                <th scope="col">نوع ستاره</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for item in dataset %}  
                    <tr style="direction:rtl !important;  font-family: 'Sahel';">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.Temperature }}</td>
                    <td>{{ item.L }}</td>
                    <td>{{ item.R }}</td>
                    <td>{{ item.A_M }}</td>
                    <td>{{ item.Color }}</td>
                    <td>{{ item.Spectral_Class }}</td>
                    <td>{{ item.Type }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}