{% extends "portfolio/base-en2.html" %}

{% block cssStyle %}  
.lighttag {
  color: #e8f9fd !important;
}
{% endblock %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">   
                <h5>Prediction Input:</h5>
                <div style="color:black;">SqFt: <span id="sq" style="color:black;"></span></div>
                <div style="color:black;">Bedrooms: <span id="be" style="color:black;"></span></div>
                <div style="color:black;">Bathrooms: <span id="ba" style="color:black;"></span></div>
                <div style="color:black;">Offers: <span id="of" style="color:black;"></span></div>
                <div style="color:black;">Brick: <span id="br" style="color:black;"></span></div>
                <div style="color:black;">Neighborhood: <span id="ne" style="color:black;"></span></div>
                <h5 class="pt-3">House Price Prediction:</h5>
                <div id="prediction" style="color:black;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="{% url 'ml:regressionresultlinear' %}" role="button">View Previous Results</a>
            </div>
        </div>
    </div>
</div>

<!--<h1 ></h1>-->

<div class="container pt-3">
    <div class="row justify-content-md-center">
        <div class="col-md-12 ustify-content-md-center text-center">
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2 ">
                <a href="{% url 'ml:regressionresultlinear' %}" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                    Results</a>
            </span> 
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2">
                <a href="https://github.com/mohammadijoo/Datasets/blob/main/house-prices.py" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                    Source Code</a>
            </span>
            
            <span style="font-size:1.5rem; font-weight:600; " class="m-2">
                <a href="https://github.com/mohammadijoo/Datasets/blob/main/house-prices.csv" target="_blank" style="border-bottom: 1px solid #ffb766;" class="lighttag"> 
                    Dataset</a>
            </span> <br>
            
        </div>
        
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
            <h1 style="font-family: 'Caveat Brush', cursive; color:#A28089; font-size:3rem" class="text-center mt-4 mb-1">
                House Price Prediction
            </h1>
            <h1 style="font-family: 'Caveat Brush', cursive; color:#A28089; font-size:2rem" class="text-center mb-4">
                Using <u>Linear Regression</u> Model
            </h1>
            <h6 style="color: #00ABE4; font-size:0.8rem;" class="text-center mb-2">
                After submitting the form, wait at least <u>10 seconds</u>  for the model to calculate and show the result. 
            </h6>
            <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group"> 
                    <label for="SqFt">SqFt <small class="pl-4" style="color:#BFA181;">(Between 1400 and 2600)</small> </label>
                    <input type="number" step="1" class="form-control" id="SqFt" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Bedrooms">Bedrooms <small class="pl-4" style="color:#BFA181;">(Between 2 and 5)</small> </label>
                    <input type="number" step="1" class="form-control" id="Bedrooms" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Bathrooms">Bathrooms <small class="pl-4" style="color:#BFA181;">(Between 2 and 4)</small> </label>
                    <input type="number" step="1" class="form-control" id="Bathrooms" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Offers">Offers <small class="pl-4" style="color:#BFA181;">(Between 1 and 6)</small> </label>
                    <input type="number" step="1" class="form-control" id="Offers" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Brick">Brick <small class="pl-4" style="color:#BFA181;">(0 &#8594; No , 1 &#8594; Yes)</small> </label>
                    <select name="Brick" id="Brick" form="post-form" class="form-control" required>
                      <option value="1">1</option>
                      <option value="0">0</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Neighborhood">Neighborhood <small class="pl-4" style="color:#BFA181;">(0 &#8594; East , 1 &#8594; North , 2 &#8594; West)</small> </label>
                    <select name="Neighborhood" id="Neighborhood" form="post-form" class="form-control" required>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
        </div>
        <div class="col-md-2"></div>
        
        
        <div class="col-md-12 mt-5">
            
            <h1 style="font-family: 'Caveat Brush', cursive; color:#99775C; font-size:2.5rem" class="text-justify mt-4 mb-1">
                Model Description:
            </h1>
            
            <p style="font-size:1.3rem" class="text-justify">
                
                Regression is a supervised machine learning method for understanding the relationship between independent variables or features and a dependent variable or outcome. One of the algorithms used for regression is the <a href="https://en.wikipedia.org/wiki/Linear_regression" target="_blank">“Linear Regression”</a>. <br>
                Here, we use the <b style="color:#6E6E6E"><u>house-prices.csv</u></b> dataset for regression purposes and you can download the dataset from the link on top of this page. This dataset has 6 features: <br>
                “<i style="color:#6ACFC7">Bedrooms</i>”, “<i style="color:#6ACFC7">Bathrooms</i>”, “<i style="color:#6ACFC7">House Area (SqFt)</i>”, “<i style="color:#6ACFC7">Offers</i>”, “<i style="color:#6ACFC7">Brick</i>” and “<i style="color:#6ACFC7">Neighborhood</i>” <br>
                And the prediction variable is: “<i style="color:#6ACFC7">House Price</i>”.  <br>
                In the above form, you enter the values of 6 features and the model returns the house price in a pop-up form. As 2 features of our dataset are Categorical and 4 of them are Numerical, for using Linear Regression for this mixed dataset, we need to convert categorical features to numerical labels and then we could use the Linear Regression method.  <br>
                Notice that the values and ranges of each feature are as below: <br>
                <h5><mark class="mt-2 p-1"> 1400 < House Area (SqFt) < 2600  </mark></h5>                                 
                <h5><mark class="mt-2 p-1"> 2 < Number of Bedrooms < 5 </mark></h5>
                <h5><mark class="mt-2 p-1"> 2 < Number of Bathrooms < 4  </mark></h5>
                <h5><mark class="mt-2 p-1"> 1 < Number of Offers < 6  </mark></h5>
                <h5><mark class="mt-2 p-1"> Brick → 0 (No) or 1 (Yes)  </mark></h5>
                <h5><mark class="mt-2 p-1"> Neighborhood → 0 (East) or 1 (North) or 2 (West)  </mark></h5>
                The sample code used to train a “Linear Regression” model, is provided in the link on top of this page. Each time you run this form and predictions happen, the values will store in the database, and with the link “result” on top of this page, you will see the previous results of the model prediction. Your recent run will be added to the end of this list.   
            
            </p>
            
        </div>
        
        
        
        
        
    </div>
</div>

<script>    
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "ml:submit_regression_linear" %}',
            data:{
                SqFt:$('#SqFt').val(),
                Bedrooms:$('#Bedrooms').val(),
                Bathrooms:$('#Bathrooms').val(),
                Offers:$('#Offers').val(),
                Brick:$('#Brick').val(),
                Neighborhood:$('#Neighborhood').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json) {
                document.forms["post-form"].reset();
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("sq").innerHTML = json['SqFt']
                document.getElementById("be").innerHTML = json['Bedrooms']
                document.getElementById("ba").innerHTML = json['Bathrooms']
                document.getElementById("of").innerHTML = json['Offers']
                document.getElementById("br").innerHTML = json['Brick']
                document.getElementById("ne").innerHTML = json['Neighborhood']
            },
            error : function(xhr,errmsg,err) {

            }
        });
    })
</script>

{% endblock %}

