{% extends "portfolio/base-en.html" %}

{% block content %}
    <div class="container pt-5" style="overflow-x: scroll !important; ">
        <div class="row">
        
        <h1 style="font-family: 'Caveat Brush', cursive; color:#A28089; font-size:3rem" class=" mt-1 mb-3">
            Prediction Results
        </h1>

            <table class="table text-white">
                <thead class="text-center">
                <tr> 
                <th scope="col">#</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col"> Depth </th>
                <th scope="col">Magnitude</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for item in dataset %}  
                    <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.latitude }}</td>
                    <td>{{ item.longitude }}</td>
                    <td>{{ item.depth }}</td>
                    <td>{{ item.magnitude }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}